<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/home_.css">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/perfil.css">
    <title>home</title>
</head>
<body>
    <header id="barra_navegacion">
        <a class="nombreApp" href=""
          ><div><p>InstaChat</p></div></a
        >
        <div class="menu">
          <nav>
            <ul>
              <li><a href="/HomPage">Inicio</a></li>
              <li><a href="">Subir momento</a></li>
              <li><a id="btn_cerrarSesion" >Cerrar Sesion</a></li>
            </ul>
          </nav>
         
        </div>
        <form id="formulario_busqueda"> <input type="search" name="" id="" placeholder="busca algo"></form>
        <a class="contenedor_icon_search" href=""><img src="./icons/search_icon_white.png" alt=""></a>
        
        
        
        <div id="icono_perfil">
            
            <img src="./man-1281562_1920.jpg" alt="">
        </div>
        <div id="icono_imbox">
            <a class="contenedor_icon_imbox" href=""><img id="imbox_icon" src="./icons/icono_imbox.png" alt=""></a>
        </div>
       

      </header>

      <main>

        <div id="contenedor_etiquetas_hastags">
            <div id="contenedor_hastags">
                <h4>Hastags</h4>
                <a href="">#Amor</a>
                <a href="">#Cultura</a>  
                <a href="">#MusicaLover</a>  
                <a href="">#Nocher</a>  
                <a href="">#Dark</a>  
                <a href="">#Dance</a>  
                <a href="">#Dolor</a>
                 <a href="">#Nocher</a>  
                <a href="">#Dark</a>  
                <a href="">#Dance</a>  
                <a href="">#Dolor</a>       
            </div>
            
        </div>

        <div id="contenedor_galeria_perfil">
            <div class="row_galeria_perfil">
                <% let j = 0 %>
                <% let n = imagenes.length %>
                <% for(let i=0;i < 4;i++ ){ %>
                <div class="column_galeria_perfil">
                        <% if(j < n){ %>
                            <% for(let k=0;k < 3;k++ ) {%>
                                
                                    <div class="contenedor_imagen">
                                    <img class="imagen_galeria" src="<%= imagenes[j] %>" alt="" />
                                    <div>
                                        <li class="opciones_imagenes">
                                            <ul><a id="<%= imagenes[j] %>"  class="boton_like"><img class="icono_opciones" src="./icons/corazon_like_desactivado.png" ></a></ul>
                                            <ul><a id="<%= imagenes[j] %>" class="boton_like"><img class="icono_opciones" src="/./icons/icono_compartir.png" ></a></ul>
                                            <ul><a id="<%= imagenes[j] %>" class="boton_like"><img class="icono_opciones" src="/./icons/icono_comentario.png" ></a></ul>
                                        </li>
                                    </div>
                                </div>
                                <% j++ %>

                            <% } %> 
                        <% }%>     
                </div>
                <% } %>

               
                
            </div>

        </div>
        <script src="./js/cargar_configuracion_Perfil.js"></script>
      </main>
    
</body>
</html>