header {
    position: fixed;
    z-index: 1;
    background: #fafafa10;
    backdrop-filter: blur(0.9rem);
    
}
body {
    background-image: url('/icons/fondo_perfil.jpg');
}

.menu nav li a {
    color: rgb(200, 199, 199);
}

#icono_perfil {
    float: right;
    height: 100%;
    width: 60px;
}




#icono_perfil img {
    padding: 10px;
    margin-top: 6px;
    height: 60px;
    border-radius: 50px;
    width: 100px;
}

#icono_imbox {
    
    padding-top: 15px ;
    margin: 0 20px;
    
    height: 100%;
    float: right;
    width: 40px;
};


.contenedor_icon_search img {
    width: 100%;
   
}

.contenedor_icon_search img:hover {
    transform: rotate(-360deg);
    transition: 0.4s;
}

.contenedor_icon_search {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-left: 20px;
}


#formulario_busqueda {
    height: 90%;
    padding: 0;
    width: 500px;
    display: inline-block;
}

#formulario_busqueda input {
    height: 34px;
    padding: 20px;
    margin-top: 17px;
    border-radius: 40px;
    width: 100%;

    background: #fafafa48;
    backdrop-filter: blur(0.9rem);
}


#formulario_busqueda input::placeholder {
    color: #ffffff;
}




/* TODO separar en otro CSS */
#contenedor_galeria_perfil .column_galeria_perfil .imagen_galeria {
    width: 80%;
    object-fit: cover;
    border-radius: 20px;

    transition: 0.4s;
}

#contenedor_galeria_perfil .column_galeria_perfil .imagen_galeria:hover {
    width: 90%;
    object-fit: cover;
    border-radius: 20px;
}

#contenedor_galeria_perfil .column_galeria_perfil .imagen_galeria:active {
   image-rendering: auto pixelated ;
    border-radius: 40px;
}

.row_galeria_perfil {
    height: 100%;
    display: flex;
    padding: 10px;
}

.column_galeria_perfil {
    flex: 25%;
    padding: 10px;
    height: 100%;
    margin-right: 5px;
}

#contenedor_galeria_perfil {

    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    border: 2px solid #fafafa10;
    background: #00000000;
    backdrop-filter: blur(0.6rem);
    margin: auto;
    border-radius: 20px;
    margin-top: 140px;
    width: 60%;
    height: 600px;
    overflow: auto ;
}

#contenedor_galeria_perfil::-webkit-scrollbar {
    width: 7px;
    background-color: #1f1f1f;
    border-radius: 20px;

}

#contenedor_galeria_perfil::-webkit-scrollbar-thumb {
    width: 7px;
    height: 10px;
    background-color: #414141;
    border-radius: 20px;

}

.opciones_imagenes ul{
    float: left;
    display: inline-block;
    color: aliceblue;
    margin: 10px;
    margin-left: 10%;
    margin-right: 5px;
}
.opciones_imagenes a{
   display: inline-block;
   width: 100%;
}

.icono_opciones{
  width: 25px;
  transition: 0.3s;
}

.contenedor_imagen{
    margin-bottom: 40px;
}
main{
    height: 700px;
}
#contenedor_etiquetas_hastags{
    
    border: 2px solid #fafafa10;
    background: #fafafa10;
    backdrop-filter: blur(0.6rem);

    display: inline-block;
    position: fixed;

    margin-top: 72.8px;
    border-radius: 20px;
    float: left;
    height:70px;
    width: 100%;
    opacity: 0.6;
}
#contenedor_etiquetas_hastags h4{
 color: aliceblue;
 font-size: 15px;
 margin-left: 20px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Arial Narrow', Arial, sans-serif, Helvetica, sans-serif;
}

#contenedor_hastags {
 display: inline-block;
 width: 100%;

}

#contenedor_hastags a{
    float: left;
    margin-top: 10px;
   margin-left: 20px;
   
}


#contenedor_etiquetas_hastags a{
  color: #dfdfdf;
  font-size: 17px;
  font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.icono_opciones:hover{
    width: 40px;
}