main {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    color: white;
    top: 100px;
    width: 100%;
    margin: auto;
    border-radius: 40px;
/*     background-color: #1c1c1c; */
    
}

.contenedor_ingresar {
    content: '';
    position: relative;
    display: inline-block;
    margin-left: 5%;
    width: 40%;
    height: 500px;

    border-radius: 20px;
    border: 2px solid #fafafa10;
    background: #fafafa10;
    backdrop-filter: blur(0.6rem);

}

.contenedor_ingresar h2 {

    font-size: 60px;
    margin-bottom: 0;
    text-align: center;
    position: absolute;
    right: 90px;
    width: 505px;
    background: linear-gradient(270deg, #3f5efb, #fc466b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 85%;
    position: relative;
    animation: degradado 5s infinite;
    font-weight: 1900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@keyframes degradado {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 50% 0%;
    }

}


main div img {
    width: 93%;
    object-fit: cover;
    border-radius: 30px;
    margin-bottom: 20px;
    position: relative;
    transition: 0.6s;
}



img:hover {
    position: relative;
    width: 120%;

}

.column:hover {
    width: 600px;
}

.row {
    height: 100%;
    display: flex;


}

.column {
    flex: 25%;
    height: 100%;
    margin-right: 5px;
}

.contenedor-imagenes {
    display: inline-block;
    height: 100%;
    width: 50%;
    position: absolute;
    overflow: auto;

    border-radius: 20px;
    border: 2px solid #fafafa10;
    background: #fafafa10;
    backdrop-filter: blur(0.4rem);
}

/* Modificacion de scroll */
.contenedor-imagenes::-webkit-scrollbar {
    width: 7px;
    background-color: #1f1f1f;
    border-radius: 20px;

}

.contenedor-imagenes::-webkit-scrollbar-thumb {
    width: 7px;
    height: 10px;
    background-color: #414141;
    border-radius: 20px;

}

main div .form-ingresar-active, .form-registro {

    position: relative;
    display: inline-block;
    margin-top: 50px;
    width: 100%;

    margin-left: 60px;

}

.form_Input-usuario,
.form_Input-contraseña {
    display: block;
    width: 290px;
    padding-left: 10px;
}


.form_registro_Input-nombres,.form_registro_Input-apellidos{
    width:175px ;
    padding-left: 10px;
    margin-bottom: 0;
}



.form_registro_Input-usuario,.form_registro_Input-correo,.form_registrp_Input-contraseña{
    display: block;
    width: 365px;
    padding-left: 10px;
}


main div form input {
    height: 50px;
    /* background-color: #3a3a3a; */
    
    border: 2px solid #fafafa10;
    background: #fafafa14;
    backdrop-filter: blur(0.7rem);


    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
}

main .form-ingresar-active p {
    color: rgb(114, 114, 114);
    margin-left: 10px;
}


.form_Input-boton_registrar {
    border: none;
    color: white;
    background-color: #fd690d;
    display: inline-block;
    width: 150px;
    transition: 0.2s;
}

.form_registro_Input-boton_registrar{
    border: none;
    color: white;
    margin: 0;
    background-color: #3f8002;
    display: inline-block;
    width: 365px;
    transition: 0.2s;
}



.form_Input-boton_registrar:hover {
    background-color: #e95d06;
    display: inline-block;
    width: 50%;
}


hr {
    color: #fafafa10;
    border: solid 1px;
    width: 72%;
}

.form-registro{
    margin-top: 10px;
}
.form-registro p{
    margin-top: 10px;
    margin-left: 50px;
}


@media only screen and (max-width:1112px) {

    .contenedor_ingresar {
        position: relative;
        height: 100%;
        padding: 0;
        margin: 0;
        background-color: #1c1c1c;
    }
 

    .contenedor_ingresar h2 {

        position: relative;
        width: 600px;
        background: linear-gradient(270deg, #3f5efb, #fc466b);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }

    .form_Input-boton_registrar {
        width: 100%;

    }

    .contenedor-imagenes {
        margin-top: 40px;
        display: inline-block;
        width: 100%;
        overflow: auto;
    }



    .contenedor_ingresar {
        display: block;
        width: 100%;
        margin: 0;
        align-content: center;


    }

    main div .form-ingresar-active,.form-registro {
        position: relative;
        margin-left:20%;
        width: 50%;
        background-color: #1c1c1c;
   
    }

    .form_Input-usuario,
    .form_Input-contraseña,.form_registro_Input-usuario,.form_registro_Input-correo,.form_registrp_Input-contraseña {
        display: block;
        width: 100%;

    }
    .form_registro_Input-nombres,.form_registro_Input-apellidos{
        width:100%;
        margin-top: 0;
    }
    .form_registro_Input-boton_registrar{
        width: 100%;   
    }
    

    main {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        top: 100%;
        display: inline-block;
        width: 100%;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 0px;

        background-color: #ffff;
    }

}
@media only screen and (max-width:826px) {
    .contenedor_ingresar h2 {
        position: relative;
        display: block;
        margin-left: 29%;
        width: 300px;
        font-size: 40px;


    }
    main div .form-ingresar-active p,.form-registro p{
        text-align: center;
   
    }
}

@media only screen and (max-width:490px) {
    .contenedor_ingresar h2 {
        position: relative;
        display: block;
        margin-left: 35%;
        width: 300px;
        font-size: 40px;


    }
    hr{
        width: 100%;
    }
    .form_registro_Input-boton_registrar{
        width: 93%;   
    }
    .form_Input-boton_registrar {
        margin-left: 26%;

        border: none;
        color: white;
        background-color: #fb8237;
        width: 160px;
    }
    .form_Input-boton_registrar:active {
        margin-left: 26%;

        border: none;
        color: white;
        background-color: #fd6304;
        width: 160px;
        animation-name: cerrar_boton  ;
        animation-duration: 2s;
        animation-iteration-count: 1;
    }
    @keyframes cerrar_boton {
        0%{
            width: 160px;
        }
        100%{
            width: 0px;
            margin-left: 180px;
        }
        
    }
   
    main div .form-ingresar-active,.form-registro {

        position: relative;
        width: 100%;
        margin: 0;
        padding-left: 2%;
        background-color: #1c1c1c;
   
    }
    main div .form-ingresar-active p,.form-registro p {
        text-align: center;
   
    }
    .form_Input-usuario,
    .form_Input-contraseña,.form_registro_Input-usuario,.form_registro_Input-correo,.form_registrp_Input-contraseña,.form_registro_Input-nombres,.form_registro_Input-apellidos {
        display: block;
        width: 93%;

    }
}