main {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    color: white;   
    width: 90%;   
    margin-left: 100px;
    padding-top: 100px;   
    border-radius: 40px;
     
}
div .icono_logo_1{
    object-position: center;
    width: 10%;
     margin-bottom: 10px;
}


.contenedor_ingresar {
    display: inline-block;
    width: 50%;
    height: 500px;
}

.contenedor-titulo h2 {
  
    font-size: 40px;
    color: rgb(54, 54, 54);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contenedor-titulo{
    width: 100%;
}




main div .img_publicacion {
    width: 93%;
    object-fit: cover;
    border-radius: 30px;
    margin-bottom: 20px;
    position: relative;
    transition: 0.6s;
}

.img_publicacion{
    width: 100%;
    min-height: 400px;
}

.row {
    position: relative;
    display: flex;
}

.column {
    flex: 25%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-right: 5px;
}

.contenedor-imagenes {

    float: left;
    width: 50%;
    height: 500px;
    overflow: auto;
    
    border-radius: 5px;
    border: 2px solid #fafafa10;
    background: #fafafa10;
    backdrop-filter: blur(0.4rem);
}

/* Modificacion de scroll */
.contenedor-imagenes::-webkit-scrollbar {
    width: 7px;

    background-color: #1f1f1f;
    border-radius: 20px;

}


.contenedor-imagenes::-webkit-scrollbar-thumb {
    width: 7px;
    height: 10px;
    background-color: #000000;
    border-radius: 20px;

}

main div .form-ingresar-active, .form-registro {
    display: flex;  
    flex-wrap: wrap;
    gap: 15px;
    transition: all 0.10s;
}
.form-ingresar-active{
    width: 55%;
}
.form-registro{
    width: 65%;
}

.form_Input-usuario,.form_Input-contraseña {
    display: block;
    width: 100%;  
    padding-left: 10px;
}


.form_registro_Input-nombres,.form_registro_Input-apellidos{
    width:48% ;
    padding-left: 10px;
   
}



.form_registro_Input-usuario,.form_registro_Input-correo,.form_registrp_Input-contraseña{
    display: block;
    width: 100%;
    padding-left: 10px;
}

.form-infoUsuario{
    gap: 2rem;
    flex-wrap: wrap;
    width: 100%;
}

.form_infoUsuario-ciudad-input,.form_infoUsuario-pais-input{
    width: 60%;
    height: 50px;
    border-radius: 1px;
    padding-left: 10px;
}

.contenedor-avatar{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    gap: 1px;
    
}

.form-input-avatar{
    width: 600px;
    border: 0 ;
    border-radius: 0;
    height: 60px;
}
.form-input-avatar:hover{
    border: 0 ;
}

.avatar_preview{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;
}

main div div input {
    height: 50px;
    /* background-color: #3a3a3a; */
    
    border: 2px solid #fafafa10;
    background: #fafafa14;
    backdrop-filter: blur(0.7rem);

    border: 1px solid #212121;
    border-radius: 3px;
}

main .form-ingresar-active p {
    color: rgb(114, 114, 114);
    margin-left: 10px;
}


.form_Input-boton_registrar,.form_registro_Input-boton_registrar,.form_infoUsuario_Input-boton_continuar{
    color: white;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border-radius: 6px;
    transition: 0.2s;   
    height: 50px;
    padding-top: 15px;
}

.form_Input-boton_registrar{
    width: 150px;
    background-color: #ff6200;
   
}

.form_infoUsuario_Input-boton_continuar{
    width: 60%;
    background-color: #0015ff;
}

.form_Input-boton_registrar:hover {
    background-color: #ff7927; 
}

.form_registro_Input-boton_registrar{
    background-color: #3f8002;
    width: 100%;
}

.form_registro_Input-boton_registrar:hover{
    background-color: #5aa316;
    width: 100%;
}



.form-registro,.form-registro div p{
    color: #1f1f1f;
}
.form-registro p{
 margin-left: 10px;
}
.info_termino {
    margin-top: 30px;
    color: #a3a3a3;
}


@media only screen and (max-width:1280px) {
    .form_registro_Input-nombres,.form_registro_Input-apellidos{
        width:47%;
        margin-top: 0;
    }
}



@media only screen and (max-width:1000px) {

    .contenedor_ingresar {
        height: 100%;
        padding: 0;
        margin: 0;

    }
    .container_logo{
        display: none;
        width: 300px;
        margin: 0 auto;
    }
    div .icono_logo_1{
        object-position: center;
        width: 10%;
         margin-bottom: 20px;
    }
    
    .contenedor_ingresar h2 {
        text-align: center;
  
      }
 

    .form_Input-boton_registrar {
        width: 100%;

    }

    .contenedor-imagenes {
       display: none;
    }



    .contenedor_ingresar {
        display: block;
        width: 100%;
        margin: 0;
        align-content: center;
        

    }

    main div .form-ingresar-active,.form-registro {
        position: relative;
        width: 50%;
        margin: 0 auto;
   
    }

    .form_Input-usuario,.form_Input-contraseña,.form_registro_Input-usuario,.form_registro_Input-correo,.form_registrp_Input-contraseña {
        display: block;
        width: 100%;
        
    }
    .form_registro_Input-nombres,.form_registro_Input-apellidos{
        width:48%;
        margin-top: 0;
    }
    .form_registro_Input-boton_registrar{
        width: 100%;   
    }
    

    main {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        top: 100%;
        display: inline-block;
        width: 100%;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 0px;

       
    }

}
@media only screen and (max-width:826px) {

    .contenedor_ingresar h2 {
      text-align: center;

    }
    .form_infoUsuario-pais-input,.form_infoUsuario-ciudad-input,.form_infoUsuario_Input-boton_continuar{
        width: 100%;
    }
    .previ{
        margin: 0 auto;
    }
    .contenedor-avatar{
        margin-top: 30px;
        width: 100%;
    }

    .form-registro p {
        text-align: center;
        margin-top: 0;
        margin: 0 auto;
    }
  
   

    main div .form-ingresar-active p,.form-registro p{
        text-align: center;
   
    }
    .form_Input-usuario,
    .form_Input-contraseña,.form_registro_Input-usuario,.form_registro_Input-correo,.form_registrp_Input-contraseña,.form_registro_Input-nombres,.form_registro_Input-apellidos {
        display: block;
        width: 99%;

    }
}

@media only screen and (max-width:490px) {

    main{
        padding-top: 30px;
    }
  
    .nombreApp{
        display: none;
    }

    .form_registro_Input-boton_registrar{
        width: 100%;   
    }
    .form_Input-boton_registrar {
        border: none;
        color: white;
        background-color: #fb8237;
        width: 99%;
    }
  
    main div .form-ingresar-active,.form-registro {

        position: relative;
        width: 96%;
        margin: 0 auto;


   
    }
    main div .form-ingresar-active p,.form-registro p {
        text-align: center;
   
    }
 
}